<h2>All Companies</h2>

<% @companies.each do |company| %>
<ul>
  <li class=company_<%= company.id %>>
    <%= link_to company.name, company_path(company) %>: 
    <%= link_to "Edit", edit_company_path(company) %>
    <%= link_to "Delete", company_path(company), method: "delete" %><br>
  </li>
</ul>
  <% end %>

<%= yield %>
